<div class="post">
    <div class="header">
        <h1>Post Title</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate officia consectetur velit consequatur labore ut adipisci amet sunt voluptatum voluptas in provident, aut necessitatibus iste error, deserunt facilis neque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate officia consectetur velit consequatur labore ut adipisci amet sunt voluptatum voluptas in provident, aut necessitatibus iste error, deserunt facilis neque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate officia consectetur velit consequatur labore ut adipisci amet sunt voluptatum voluptas in provident, aut necessitatibus iste error, deserunt facilis neque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate officia consectetur velit consequatur labore ut adipisci amet sunt voluptatum voluptas in provident, aut necessitatibus iste error, deserunt facilis neque?</p>
    </div>
</div>
